<nb-layout>
  <nb-layout-header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="toolbar">
      <div class="bookmarked">
        <button class="btn" (click)="viewAllBookMarked()"><i class="fa fa-bookmark" aria-hidden="true"></i>
          bookMarked</button>
      </div>
      <div class="title">
        <h1>movie site</h1>
      </div>
      <div class="back">
        <button class="btn" (click)="back()" style="cursor: pointer;"><i class="fa fa-arrow-left"
            aria-hidden="true"></i>
          Back</button>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column class="body">


    <router-outlet></router-outlet>

  </nb-layout-column>
  <nb-layout-footer style="background-color: rgb(17, 17, 73) !important;">
  </nb-layout-footer>
</nb-layout>