@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

.toolbar {
  padding: 10px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

nb-layout-footer {
  background-color: rgb(21, 21, 49);
}

nb-layout-header {
  background-color: rgb(21, 21, 49);
}

.title {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.body {
  display: flex;
  justify-content: center;
  background-color: rgb(30, 30, 53);
  // background-image: url('https://imdb-api.com/images/original/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_Ratio0.6837_AL_.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: grey;
}

h1 {
  color: black;
  padding: 0;
}

.bookMarked{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}